:root {
  --primary-fonf: 'Roboto', sans-serif;
  --secodary-font: 'Raleway', sans-serif;
  --secondary-background-color: #f5f4fa;
  --fotter-background-color: #2f303a;
  --primary-font-color: #757575;
  --primary-icon-color: #afb1b8;
  --secondary-font-color: #212121;
  --third-font-color: #ffffff;
  --accent-color: #2196f3;
  --accent-cokor-second: #188ce8;
  --logo-color: #000000;
  --logo-color-second: #ffffff;
  --background-filter-btn-color: #f5f4fa;
  --fotter-font-color: rgba(255, 255, 255, 0.6);
  --font-size-priority-14: 14px;
  --front-size-secondary-16: 16px;
  --line-height-priority: 1.14;
  --letter-spacing-priority: 0.03em;
}

body {
  font-family: var(--primary-fonf);
  color: var(--primary-font-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item {
  background-color: antiquewhite;
}

.medium-title {
  color: var(--secondary-font-color);

  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: var(--letter-spacing-priority);
}

/* ------------------HEADER----------------------- */

.page-header {
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  font-size: var(--font-size-priority-14);
  line-height: var(--line-height-priority);
  letter-spacing: 0.02em;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--logo-color);

  font-family: var(--secodary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--letter-spacing-priority);
}

.nav .logo {
  margin-right: 93px;
}

.logo-accent-color {
  color: var(--accent-color);
}

.menu {
  display: flex;
}

.menu .item:not(:last-child) {
  margin-right: 50px;
}

.contact-menu {
  display: flex;
}

.menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-font-color);
}

.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}

.menu .link.current {
  color: var(--accent-color);
}

.contact-menu .item:not(:last-child) {
  margin-right: 50px;
  height: 12px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact {
  color: var(--primary-font-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ------- HERO -------*/

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--third-font-color);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.modal-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: 0px;

  font-family: inherit;
  font-style: normal;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-cokor-second);
}

.button {
  color: var(--third-font-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: var(--front-size-secondary-16);
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* --------- OUR BENEFITS --------- */

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  /* padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px; */
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.benefites-icon {
  width: 70px;
  height: 70px;
}

.benefits-title {
  margin-bottom: 10px;

  color: var(--secondary-font-color);

  font-size: var(--font-size-priority-14);
  line-height: var(--line-height-priority);
  letter-spacing: var(--letter-spacing-priority);
  text-transform: uppercase;
}

.benefits-text {
  font-size: var(--font-size-priority-14);
  line-height: 1.71;
  letter-spacing: var(--letter-spacing-priority);
}
/* --------- WHAT ARE WE DOING --------- */

.section.doing {
  padding-top: 0;
}

.medium-title.doing {
  margin-bottom: 50px;
  line-height: 1.17;
}

.doing-list {
  display: flex;
}

.doing-list .item:not(:last-child) {
  margin-right: 30px;
}

/* --------- OUR_TEAM --------- */

.section.team {
  background-color: var(--secondary-background-color);
}
.medium-title.team {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-item {
  background-color: var(--third-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-info {
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 32px;
  padding-right: 32px; */
}

.team-name {
  margin-bottom: 10px;

  color: var(--secondary-font-color);

  text-align: center;
  font-weight: 500;
  font-size: var(--front-size-secondary-16);
  line-height: 1.19;
  letter-spacing: var(--letter-spacing-priority);
}

.team-text {
  text-align: center;
  margin-bottom: 16px;

  font-size: var(--front-size-secondary-16);
  line-height: 1.19;
  letter-spacing: var(--letter-spacing-priority);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  height: 44px;
  width: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: none;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: var(--primary-icon-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--logo-color-second);
}

/* ------------ CLIENT ---------------- */

.client {
  margin-bottom: 50px;
}

.client-title {
  color: var(--secondary-font-color);

  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  letter-spacing: var(--letter-spacing-priority);
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: var(--primary-icon-color);
}

/* ------- FOOTER ------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--fotter-background-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--logo-color-second);
}
.address-map {
  color: var(--third-font-color);
}

.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.address-container {
  display: inline-block;

  width: 231px;
  margin-right: 70px;
}

.address {
  color: var(--fotter-font-color);

  font-style: normal;
  font-size: var(--font-size-priority-14);
  line-height: 1.72;
  letter-spacing: var(--letter-spacing-priority);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footter-social-text {
  margin-bottom: 20px;
  color: var(--third-font-color);

  font-weight: 700;
  font-size: var(--font-size-priority-14);
  line-height: var(--line-height-priority);
  letter-spacing: var(--letter-spacing-priority);
  text-transform: uppercase;
}

.footter-link {
  background: rgba(255, 255, 255, 0.1);
}

.footter-link .social-icon {
  fill: #ffffff;
}

/* ================== PORTFOLIO ================= */

/* ------------ FILTER ------------ */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: 0;
  border-radius: 4px;

  color: var(--secondary-font-color);
  background-color: var(--background-filter-btn-color);

  font-family: inherit;
  font-weight: 500;
  font-size: var(--front-size-secondary-16);
  line-height: 1.63;
  text-align: center;
  letter-spacing: var(--letter-spacing-priority);

  cursor: pointer;
}

.btn-item:not(:last-child) {
  margin-right: 6px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-font-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------- PORTFOLIO ------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  background-color: var(--third-font-color);
  width: 370px;
}

.portfolio-item-link {
  display: block;
  color: var(--primary-font-color);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item .portfolio-title {
  color: var(--secondary-font-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-title {
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: var(--front-size-secondary-16);
  line-height: 1.88;
  letter-spacing: var(--letter-spacing-priority);
}
